{% extends "base.html" %}
{% load static %}

{% block title %}
  Новости
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container p-2">
            <div class="row">
            {% for a in page_object.object_list %}
                <div class="col-md-6">
                <div class="card text-center mx-auto m-4" style="background-color: #e3e4e6; width: 25rem">
                    <img class="card-img-top" src="{{ a.article_image.url }}" height="220px" alt="">
                    <div class="card-body">
                    <h4 class="card-title">{{a.article_title}}</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <em>{{ a.pub_date }}</em>
                            </div>
                            <div class="col-sm-6">
                                <a href="{%  url 'news:detail' a.id %}" class="btn btn-primary">Подробнее &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <br>
            {% endfor %}
            </div>
        </div>
    </div>
    <br>

    {% if is_paginated %}
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
              <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            {% for n in page_object.paginator.page_range %}
                {% if page_object.number == n %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                    </li>
                {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not next_url %} disabled {% endif %}">
              <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
            </li>
          </ul>
        </nav>
    {% endif %}
    <br>

{% endblock %}
