.navbar {
    background-color: #4f4f4f;
}

.navbar-dark .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: large;

}

.navbar-dark .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #6DDCBD;

}

.navbar-brand:hover {
    transform: scale(1.2);
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    min-height: 100vh;
}

body {
    width: 100%;
    min-height: 100vh;
}

.wrapper-content {
	min-height: calc(100vh - 2.5em);
}