{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #666666; color: white">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="font-size: large">Мы в социальных сетях:</h6>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
            <div class="text-center center-block">
                    <a target="_blank" style="color: white; padding-right: 10px" href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x social"></i></a>
                    <a target="_blank" style="color: white; padding-right: 10px" href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x social"></i></a>
                    <a target="_blank" style="color: white; padding-right: 10px" href="https://www.youtube.com/"><i class="fa fa-youtube-square fa-3x social"></i></a>
                    <a target="_blank" style="color: white; padding-right: 10px" href="mailto:example@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3" style="background-color: #464646; color: white">© 2019 Все права защищены</div>

</footer>
